@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --text-color-light: #4a5568;
  --link-color-active: #3182ce;
}

body {
  color: var(--text-color);
}

a[href] {
  color: var(--text-color-light);
  font-weight: 700;
}

a[href]:hover,
a[href]:active,
a[href]:focus {
  color: var(--link-color-active);
}

/* Offset for fixed navbar */
[id]::before {
  content: "";
  display: block;
  height: 4rem;
  margin-top: -4rem;
  visibility: hidden;
}
